<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<!-- Book edition -->
<form id="edit-form" th:action="@{/book_edit(id=${book.id})}" th:method="post" action="book_edit">
    <h1>Book Info:</h1>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" type="text" readonly="readonly" th:value="${book.id}" value="1"/>
    </div>

    <div class="row">
        <label for="holder-input">Name:</label>
        <input id="holder-input" name="name" type="text" th:value="${book.name}" value="Best book"/>
    </div>

    <div class="row">
        <label for="holder-input">Author:</label>
        <select id="authorId" name="authorId">
            <option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.name}" th:selected="${author.id==book.author.id}">John Doe</option>
        </select>
    </div>

    <div class="row">
        <label for="holder-input">Genre:</label>
        <select id="genreId" name="genreId">
            <option th:each="genre : ${genres}" th:value="${genre.id}" th:text="${genre.name}" th:selected="${genre.id==book.genre.id}">Thriller</option>
        </select>
    </div>

    <div class="row">
        <button type="submit">Save</button>
    </div>
</form>

</body>
</html>
